.navigation {
	@apply hidden md:block md:fixed top-[60px] z-[100] right-0 left-0 dark:bg-black text-light text-right bg-neutral;
}

.navigation nav ul {
	@apply list-none hidden md:flex gap-2 text-sm items-center justify-end p-4;
}

main h2,
main p,
main ul,
main ol {
	@apply font-mono;
}

main ol,
main ul {
  @apply max-w-[60ch];
}

main ul {
	list-style: none;
}

main p {
	@apply max-w-prose;
}

ul,
ol {
	margin: 0;
}

main ul li {
	border: 1px solid lightblue;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.archive {
	@apply flex flex-wrap items-center gap-2;
}

.archive img {
	@apply w-full max-w-[120px] rounded-lg;
}
